<div class="characterForm">
    <div class="results"
         ng-show="results.length > 0"
         ng-class="{true:'success', false:'error'}[isSuccess]">{{results}}
    </div>
    <form id="formCharacter">
        <div class="character section">
            <span class="title">Character Sheet</span>
            <div>
                <div class="character_name">
                    <input type="text" name="character[name]" id="character-name"
                           placeholder="Enter Name" ng-model="character.name"/>
                    <label for="character-name">Character Name</label>
                </div>
                <div class="character_sex">
                    <select name="character[sex]" id="character-sex"
                            ng-model="character.sex"
                            ng-options="sex.value as sex.text for sex in options.sex">
                    </select>
                    <label for="character-sex">Sex</label>
                </div>
                <div class="character_characteristics">
                    <input type="text" name="character[characteristics]" id="character-characteristics"
                           placeholder="Enter Characteristics" ng-model="character.characteristics"/>
                    <label for="character-characteristics">Defining Characteristics</label>
                </div>
                <div class="character_weight">
                    <input type="text" name="character[weight]" id="character-weight"
                           placeholder="Weight" ng-model="character.weight"/>
                    <label for="character-weight">Weight</label>
                </div>
            </div>
            <div>
                <div class="character_archetype">
                    <select name="character[archetype]" id="character-archetype"
                            ng-model="character.archetype_id"
                            ng-options="archetype.archetype_id as archetype.name for archetype in options.archetypes">
                    </select>
                    <label for="character-archetype">Archetype</label>
                </div>
                <div class="character_race">
                    <select name="character[race]" id="character-race"
                            ng-model="character.race_id"
                            ng-options="race.race_id as race.name for race in options.races">
                    </select>
                    <label for="character-race">Race</label>
                </div>
                <div class="character_careers">
                    <select name="character[careers]" id="character-careers"
                            ng-model="character.career_ids"
                            ng-options="career.career_id as career.name for career in options.careers">
                    </select>
                    <label for="character-careers">Careers</label>
                </div>
                <div class="character_faith">
                    <input type="text" name="character[faith]" id="character-faith"
                           placeholder="Enter Faith" ng-model="character.faith"/>
                    <label for="character-faith">Faith</label>
                </div>
                <div class="character_player">
                    <span class="input-disabled" id="character-player">{{character.username}}</span>
                    <label for="character-player">Player Name</label>
                </div>
                <div class="character_height">
                    <input type="text" name="character[height]" id="character-height"
                           placeholder="Height" ng-model="character.height"/>
                    <label for="character-height">Height</label>
                </div>
            </div>
            <div class="level">
                <input type="text" name="character[level]" id="character-level"
                       placeholder="Level" ng-model="character.level"/>
                <label for="character-level">Level</label>
                <input type="text" name="character[xp]" id="character-xp"
                       placeholder="XP" ng-model="character.xp"/>
                <label for="character-xp">Total XP Earned</label>
            </div>
        </div>
        <img src="{Config>GetValue(website,image_url)}logo.png" width="175px"
             ng-click="saveCharacter()"/>
        <div class="four-col">
            <div class="left-col">
                <div class="portrait section">
                    <span class="title">Character Portrait</span>
                    <img ng-show="character.portrait_url" ng-src="{{character.portrait_url}}" />
                </div>
                <div class="stats section">
                    <span class="title">Stats</span>
                    <div class="two-col">
                        <div class="left-col">
                            <div class="big-stat">
                                <input type="number" id="character-stat-phy"
                                       placeholder="Set" ng-model="character.stats.phy.value" />
                                <label for="character-stat-phy">PHY</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-phy-max"
                                       placeholder="Set" ng-model="character.stats.phy.max" />
                                <label for="character-stat-phy-max">MAX</label>
                            </div>
                        </div>
                        <div class="right-col">
                            <div class="big-stat">
                                <input type="number" id="character-stat-spd"
                                       placeholder="Set" ng-model="character.stats.spd.value" />
                                <label for="character-stat-spd">SPD</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-spd-max"
                                       placeholder="Set" ng-model="character.stats.spd.max" />
                                <label for="character-stat-spd-max">MAX</label>
                            </div>
                            <br />
                            <div class="big-stat">
                                <input type="number" id="character-stat-str"
                                       placeholder="Set" ng-model="character.stats.str.value" />
                                <label for="character-stat-str">STR</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-str-max"
                                       placeholder="Set" ng-model="character.stats.str.max" />
                                <label for="character-stat-str-max">MAX</label>
                            </div>
                        </div>
                    </div>
                    <div class="two-col">
                        <div class="left-col">
                            <div class="big-stat">
                                <input type="number" id="character-stat-agi"
                                       placeholder="Set" ng-model="character.stats.agi.value" />
                                <label for="character-stat-agi">AGI</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-agi-max"
                                       placeholder="Set" ng-model="character.stats.agi.max" />
                                <label for="character-stat-agi-max">MAX</label>
                            </div>
                        </div>
                        <div class="right-col">
                            <div class="big-stat">
                                <input type="number" id="character-stat-prw"
                                       placeholder="Set" ng-model="character.stats.prw.value" />
                                <label for="character-stat-prw">PRW</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-prw-max"
                                       placeholder="Set" ng-model="character.stats.prw.max" />
                                <label for="character-stat-prw-max">MAX</label>
                            </div>
                            <br />
                            <div class="big-stat">
                                <input type="number" id="character-stat-poi"
                                       placeholder="Set" ng-model="character.stats.poi.value" />
                                <label for="character-stat-poi">POI</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-poi-max"
                                       placeholder="Set" ng-model="character.stats.poi.max" />
                                <label for="character-stat-poi-max">MAX</label>
                            </div>
                        </div>
                    </div>
                    <div class="two-col">
                        <div class="left-col">
                            <div class="big-stat">
                                <input type="number" id="character-stat-int"
                                       placeholder="Set" ng-model="character.stats.int.value" />
                                <label for="character-stat-int">INT</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-int-max"
                                       placeholder="Set" ng-model="character.stats.int.max" />
                                <label for="character-stat-int-max">MAX</label>
                            </div>
                        </div>
                        <div class="right-col">
                            <div class="big-stat">
                                <input type="number" id="character-stat-arc"
                                       placeholder="Set" ng-model="character.stats.arc.value" />
                                <label for="character-stat-arc">ARC</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-arc-max"
                                       placeholder="Set" ng-model="character.stats.arc.max" />
                                <label for="character-stat-arc-max">MAX</label>
                            </div>
                            <br />
                            <div class="big-stat">
                                <input type="number" id="character-stat-per"
                                       placeholder="Set" ng-model="character.stats.per.value" />
                                <label for="character-stat-per">PER</label>
                            </div>
                            <div class="small-stat">
                                <input type="number" id="character-stat-per-max"
                                       placeholder="Set" ng-model="character.stats.per.max" />
                                <label for="character-stat-per-max">MAX</label>
                            </div>
                        </div>
                    </div>
                    <div id="willpower">
                        <span id="character-stat-will">{{character.stats.phy.value + character.stats.int.value}}</span>
                        <label for="character-stat-will">WILLPOWER<br><span>(PHY + INT)</span></label>
                    </div>
                </div>
            </div>
            <div class="left-middle-col">
                <div class="section weapon-ranged">
                    <span class="title">Ranged Weapons</span>
                    <div>
                        <img src="{Config>GetValue(website,image_url)}ranged.png" />
                        <div class="info">
                            <input type="text" id="character-weapons-ranged1-name"
                                   placeholder="Enter Name"
                                   ng-model="character.weapons.ranged1.name" />
                            <label for="character-weapons-ranged1-name">Name</label>
                            <input type="text" id="character-weapons-ranged1-notes"
                                   placeholder="Enter Notes"
                                   ng-model="character.weapons.ranged1.notes" />
                            <label for="character-weapons-ranged1-notes">Notes</label>
                        </div>
                        <div class="stats">
                            <div>
                                <input type="number" id="character-weapons-ranged1-rng"
                                       placeholder="Set"
                                       ng-model="character.weapons.ranged1.rng" />
                                <label for="character-weapons-ranged1-rng">RNG</label>
                            </div>
                            <div>
                                <input type="number" id="character-weapons-ranged1-rat"
                                       placeholder="Set"
                                       ng-model="character.weapons.ranged1.rat" />
                                <label for="character-weapons-ranged1-rat">RAT</label>
                            </div>
                            <div>
                                <input type="number" id="character-weapons-ranged1-pow"
                                       placeholder="Set"
                                       ng-model="character.weapons.ranged1.pow" />
                                <label for="character-weapons-ranged1-pow">POW</label>
                            </div>
                            <br />
                            <input type="text" id="character-weapons-ranged1-ammo"
                                   placeholder="Enter Ammo" class="ammo"
                                   ng-model="character.weapons.ranged1.ammo" />
                            <label for="character-weapons-ranged1-ammo">Ammo</label>
                        </div>
                    </div>
                    <div>
                        <img src="{Config>GetValue(website,image_url)}ranged.png" />
                        <div class="info">
                            <input type="text" id="character-weapons-ranged2-name"
                                   placeholder="Enter Name"
                                   ng-model="character.weapons.ranged2.name" />
                            <label for="character-weapons-ranged2-name">Name</label>
                            <input type="text" id="character-weapons-ranged2-notes"
                                   placeholder="Enter Notes"
                                   ng-model="character.weapons.ranged2.notes" />
                            <label for="character-weapons-ranged2-notes">Notes</label>
                        </div>
                        <div class="stats">
                            <div>
                                <input type="number" id="character-weapons-ranged2-rng"
                                       placeholder="Set"
                                       ng-model="character.weapons.ranged2.rng" />
                                <label for="character-weapons-ranged2-rng">RNG</label>
                            </div>
                            <div>
                                <input type="number" id="character-weapons-ranged2-rat"
                                       placeholder="Set"
                                       ng-model="character.weapons.ranged2.rat" />
                                <label for="character-weapons-ranged2-rat">RAT</label>
                            </div>
                            <div>
                                <input type="number" id="character-weapons-ranged2-pow"
                                       placeholder="Set"
                                       ng-model="character.weapons.ranged2.pow" />
                                <label for="character-weapons-ranged2-pow">POW</label>
                            </div>
                            <br />
                            <input type="text" id="character-weapons-ranged2-ammo"
                                   placeholder="Enter Ammo" class="ammo"
                                   ng-model="character.weapons.ranged2.ammo" />
                            <label for="character-weapons-ranged2-ammo">Ammo</label>
                        </div>
                    </div>
                </div>
                <div class="section weapon-melee">
                    <span class="title">Melee Weapons</span>
                    <div>
                        <img src="{Config>GetValue(website,image_url)}melee.png" />
                        <div class="info">
                            <input type="text" id="character-weapons-melee1-name"
                                   placeholder="Enter Name"
                                   ng-model="character.weapons.melee1.name" />
                            <label for="character-weapons-melee1-name">Name</label>
                            <input type="text" id="character-weapons-melee1-notes"
                                   placeholder="Enter Notes"
                                   ng-model="character.weapons.melee1.notes" />
                            <label for="character-weapons-melee1-notes">Notes</label>
                        </div>
                        <div class="stats">
                            <div>
                                <input type="number" id="character-weapons-melee1-mat"
                                       placeholder="Set"
                                       ng-model="character.weapons.melee1.mat" />
                                <label for="character-weapons-melee1-mat">MAT</label>
                            </div>
                            <div>
                                <input type="number" id="character-weapons-melee1-ps"
                                       placeholder="Set"
                                       ng-model="character.weapons.melee1.ps" />
                                <label for="character-weapons-melee1-ps">P+S</label>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div>
                        <img src="{Config>GetValue(website,image_url)}melee.png" />
                        <div class="info">
                            <input type="text" id="character-weapons-melee2-name"
                                   placeholder="Enter Name"
                                   ng-model="character.weapons.melee2.name" />
                            <label for="character-weapons-melee2-name">Name</label>
                            <input type="text" id="character-weapons-melee2-notes"
                                   placeholder="Enter Notes"
                                   ng-model="character.weapons.melee2.notes" />
                            <label for="character-weapons-melee2-notes">Notes</label>
                        </div>
                        <div class="stats">
                            <div>
                                <input type="number" id="character-weapons-melee2-mat"
                                       placeholder="Set"
                                       ng-model="character.weapons.melee2.mat" />
                                <label for="character-weapons-melee2-mat">MAT</label>
                            </div>
                            <div>
                                <input type="number" id="character-weapons-melee2-ps"
                                       placeholder="Set"
                                       ng-model="character.weapons.melee2.ps" />
                                <label for="character-weapons-melee2-ps">P+S</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="weapon-addnl section">
                    <span class="title">Additional Weapon</span>
                    <div>
                        <div class="info">
                            <input type="text" id="character-weapons-addnl-name"
                                   placeholder="Enter Name"
                                   ng-model="character.weapons.addnl.name" />
                            <label for="character-weapons-addnl-name">Name</label>
                            <input type="text" id="character-weapons-addnl-notes"
                                   placeholder="Enter Notes"
                                   ng-model="character.weapons.addnl.notes" />
                            <label for="character-weapons-addnl-notes">Notes</label>
                        </div>
                        <div class="stats">
                            <div>
                                <input type="number" id="character-weapons-addnl-stat1"
                                       placeholder="Set"
                                       ng-model="character.weapons.addnl.stat1" />
                            </div>
                            <div>
                                <input type="number" id="character-weapons-addnl-stat2"
                                       placeholder="Set"
                                       ng-model="character.weapons.addnl.stat2" />
                            </div>
                            <div>
                                <input type="number" id="character-weapons-addnl-stat3"
                                       placeholder="Set"
                                       ng-model="character.weapons.addnl.stat3" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section calc-stat">
                    <span class="title">Def</span>
                    <div>
                        <span class="calc">SPD<br />Stat</span>
                        <span class="calc">+</span>
                        <span class="calc">AGL<br />Stat</span>
                        <span class="calc">+</span>
                        <span class="calc">PER<br />Stat</span>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-modifiers-racial"
                                   placeholder="Set"
                                   ng-model="character.modifiers.racial" />
                            <label for="character-modifiers-racial">Racial Modifier</label>
                        </div>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-modifiers-equipment_def"
                                   placeholder="Set"
                                   ng-model="character.modifiers.equipment_def" />
                            <label for="character-modifiers-equipment_def">Equipment Modifiers</label>
                        </div>
                        <span class="calc">=</span>
                        <div class="calc">
                            <input type="number" id="character-stats-def"
                                   placeholder="Set" disabled
                                   ng-model="character.stats.def" />
                            <label for="character-stats-def">Total Def<br />&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="section calc-stat">
                    <span class="title">Arm</span>
                    <div>
                        <span class="calc">PHY<br />Stat</span>
                        <span class="calc">+</span>
                        <span class="calc">PER<br />Stat</span>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-modifiers-shield"
                                   placeholder="Set"
                                   ng-model="character.modifiers.shield" />
                            <label for="character-modifiers-shield">Shield Modifier</label>
                        </div>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-modifiers-armor"
                                   placeholder="Set"
                                   ng-model="character.modifiers.armor" />
                            <label for="character-modifiers-armor">Armor Modifier</label>
                        </div>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-modifiers-other"
                                   placeholder="Set"
                                   ng-model="character.modifiers.other" />
                            <label for="character-modifiers-other">Other Modifiers</label>
                        </div>
                        <span class="calc">=</span>
                        <div class="calc">
                            <input type="number" id="character-stats-arm"
                                   placeholder="Set" disabled
                                   ng-model="character.stats.arm" />
                            <label for="character-stats-arm">Total Arm<br />&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="section calc-stat">
                    <span class="title">Initiative</span>
                    <div>
                        <span class="calc">SPD<br />Stat</span>
                        <span class="calc">+</span>
                        <span class="calc">PRW<br />Stat</span>
                        <span class="calc">+</span>
                        <span class="calc">PER<br />Stat</span>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-modifiers-equipment_initiative"
                                   placeholder="Set"
                                   ng-model="character.modifiers.equipment_initiative" />
                            <label for="character-modifiers-equipment_initiative">Equipment Modifiers</label>
                        </div>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-modifiers-addnl"
                                   placeholder="Set"
                                   ng-model="character.modifiers.addnl" />
                            <label for="character-modifiers-addnl">Additional Modifiers</label>
                        </div>
                        <span class="calc">=</span>
                        <div class="calc">
                            <input type="number" id="character-stats-initiative"
                                   placeholder="Set" disabled
                                   ng-model="character.stats.initiative" />
                            <label for="character-stats-initiative">Total<br />Initiative</label>
                        </div>
                    </div>
                </div>
                <div class="section calc-stat">
                    <span class="title">Command Range</span>
                    <div>
                        <span class="calc">INT<br />Stat</span>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-command-skill"
                                   placeholder="Set"
                                   ng-model="character.command.skill" />
                            <label for="character-command-skill">Command<br />Skill</label>
                        </div>
                        <span class="calc">+</span>
                        <div class="calc">
                            <input type="number" id="character-modifiers-ability"
                                   placeholder="Set"
                                   ng-model="character.modifiers.ability" />
                            <label for="character-modifiers-ability">Ability Modifiers</label>
                        </div>
                        <span class="calc">=</span>
                        <div class="calc">
                            <input type="number" id="character-stats-cmd"
                                   placeholder="Set" disabled
                                   ng-model="character.stats.cmd" />
                            <label for="character-stats-cmd">Total Cmd<br />Range</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-middle-col">
                <div class="skills section">
                    <span class="title">Skills</span>
                    <table>
                        <tr>
                            <th></th>
                            <th>Parent<br />Set Value</th>
                            <th>Skill<br />Level</th>
                            <th>Total</th>
                        </tr>
                        <tr>
                            <td>Hand Weapon (PRW)</td>
                            <td><input type="number" id="character-skills-hand_weapon-parent"
                                       ng-model="character.skills.hand_weapon.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-hand_weapon-skill"
                                       ng-model="character.skills.hand_weapon.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.hand_weapon.parent +
                                   character.skills.hand_weapon.skill}}</td>
                        </tr>
                        <tr>
                            <td>Great Weapon (PRW)</td>
                            <td><input type="number" id="character-skills-great_weapon-parent"
                                       ng-model="character.skills.great_weapon.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-great_weapon-skill"
                                       ng-model="character.skills.great_weapon.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.great_weapon.parent +
                                character.skills.great_weapon.skill}}</td>
                        </tr>
                        <tr>
                            <td>Pistol (POI)</td>
                            <td><input type="number" id="character-skills-pistol-parent"
                                       ng-model="character.skills.pistol.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-pistol-skill"
                                       ng-model="character.skills.pistol.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.pistol.parent +
                                character.skills.pistol.skill}}</td>
                        </tr>
                        <tr>
                            <td>Rifle (POI)</td>
                            <td><input type="number" id="character-skills-rifle-parent"
                                       ng-model="character.skills.rifle.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-rifle-skill"
                                       ng-model="character.skills.rifle.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.rifle.parent +
                                character.skills.rifle.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user1-name"
                                       ng-model="character.skills.user1.name" /></td>
                            <td><input type="number" id="character-skills-user1-parent"
                                       ng-model="character.skills.user1.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user1-skill"
                                       ng-model="character.skills.user1.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user1.parent +
                                character.skills.user1.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user2-name"
                                       ng-model="character.skills.user2.name" /></td>
                            <td><input type="number" id="character-skills-user2-parent"
                                       ng-model="character.skills.user2.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user2-skill"
                                       ng-model="character.skills.user2.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user2.parent +
                                character.skills.user2.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user3-name"
                                       ng-model="character.skills.user3.name" /></td>
                            <td><input type="number" id="character-skills-user3-parent"
                                       ng-model="character.skills.user3.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user3-skill"
                                       ng-model="character.skills.user3.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user3.parent +
                                character.skills.user3.skill}}</td>
                        </tr>
                        <tr>
                            <td>Detection (PER)</td>
                            <td><input type="number" id="character-skills-detection-parent"
                                       ng-model="character.skills.detection.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-detection-skill"
                                       ng-model="character.skills.detection.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.detection.parent +
                                character.skills.detection.skill}}</td>
                        </tr>
                        <tr>
                            <td>Sneak (AGI)</td>
                            <td><input type="number" id="character-skills-sneak-parent"
                                       ng-model="character.skills.sneak.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-sneak-skill"
                                       ng-model="character.skills.sneak.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.sneak.parent +
                                character.skills.sneak.skill}}</td>
                        </tr>
                        <tr>
                            <td>Command (SOCIAL)</td>
                            <td><input type="number" id="character-skills-command-parent"
                                       ng-model="character.skills.command.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-command-skill"
                                       ng-model="character.skills.command.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.command.parent +
                                character.skills.command.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user4-name"
                                       ng-model="character.skills.user4.name" /></td>
                            <td><input type="number" id="character-skills-user4-parent"
                                       ng-model="character.skills.user4.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user4-skill"
                                       ng-model="character.skills.user4.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user4.parent +
                                character.skills.user4.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user5-name"
                                       ng-model="character.skills.user5.name" /></td>
                            <td><input type="number" id="character-skills-user5-parent"
                                       ng-model="character.skills.user5.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user5-skill"
                                       ng-model="character.skills.user5.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user5.parent +
                                character.skills.user5.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user6-name"
                                       ng-model="character.skills.user6.name" /></td>
                            <td><input type="number" id="character-skills-user6-parent"
                                       ng-model="character.skills.user6.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user6-skill"
                                       ng-model="character.skills.user6.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user6.parent +
                                character.skills.user6.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user7-name"
                                       ng-model="character.skills.user7.name" /></td>
                            <td><input type="number" id="character-skills-user7-parent"
                                       ng-model="character.skills.user7.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user7-skill"
                                       ng-model="character.skills.user7.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user7.parent +
                                character.skills.user7.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user8-name"
                                       ng-model="character.skills.user8.name" /></td>
                            <td><input type="number" id="character-skills-user8-parent"
                                       ng-model="character.skills.user8.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user8-skill"
                                       ng-model="character.skills.user8.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user8.parent +
                                character.skills.user8.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user9-name"
                                       ng-model="character.skills.user9.name" /></td>
                            <td><input type="number" id="character-skills-user9-parent"
                                       ng-model="character.skills.user9.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user9-skill"
                                       ng-model="character.skills.user9.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user9.parent +
                                character.skills.user9.skill}}</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-skills-user10-name"
                                       ng-model="character.skills.user10.name" /></td>
                            <td><input type="number" id="character-skills-user10-parent"
                                       ng-model="character.skills.user10.parent"
                                       maxlength="2" /></td>
                            <td><input type="number" id="character-skills-user10-skill"
                                       ng-model="character.skills.user10.skill"
                                       maxlength="2" /></td>
                            <td>{{character.skills.user10.parent +
                                character.skills.user10.skill}}</td>
                        </tr>
                    </table>
                </div>
                <div class="damage section">
                    <span class="title">Damage Capacity</span>
                    <div class="info">
                        <span class="name">Crippled Physique:</span>
                        <span class="value">-2 STR</span>
                        <span class="name">Crippled Agility:</span>
                        <span class="value">-2 to attack rolls</span>
                        <span class="name">Crippled Intellect:</span>
                        <span class="value">-2 DEF and cannot<br />upkeep spells</span>
                    </div>
                    <div class="power" id="character-damage-power-field">
                        <input type="checkbox" name="character-damage-power-field[]"
                               ng-model="character.damage.power_field.1" />
                        <input type="checkbox" name="character-damage-power-field[]"
                               ng-model="character.damage.power_field.2" />
                        <input type="checkbox" name="character-damage-power-field[]"
                               ng-model="character.damage.power_field.3" />
                        <input type="checkbox" name="character-damage-power-field[]"
                               ng-model="character.damage.power_field.4" />
                        <input type="checkbox" name="character-damage-power-field[]"
                               ng-model="character.damage.power_field.5" />
                        <input type="checkbox" name="character-damage-power-field[]"
                               ng-model="character.damage.power_field.6" />
                        <label for="character-damage-power-field">Power Field</label>
                    </div>
                    <div class="health-bubble" id="health-bubble-1-0">
                        <input type="checkbox"
                               id="character-damage-1-0"
                               ng-model="character.damage.1.0" />
                        <label for="character-damage-1-0" />
                    </div>
                    <div class="health-bubble" id="health-bubble-1-1">
                        <input type="checkbox"
                               id="character-damage-1-1"
                               ng-model="character.damage.1.1" />
                        <label for="character-damage-1-1" />
                    </div>
                    <div class="health-bubble" id="health-bubble-1-2">
                        <input type="checkbox"
                               id="character-damage-1-2"
                               ng-model="character.damage.1.2" />
                        <label for="character-damage-1-2" />
                    </div>
                    <div class="health-bubble" id="health-bubble-1-3">
                        <input type="checkbox"
                               id="character-damage-1-3"
                               ng-model="character.damage.1.3" />
                        <label for="character-damage-1-3" />
                    </div>
                    <div class="health-bubble" id="health-bubble-1-4">
                        <input type="checkbox"
                               id="character-damage-1-4"
                               ng-model="character.damage.1.4" />
                        <label for="character-damage-1-4" />
                    </div>
                    <div class="health-bubble" id="health-bubble-1-5">
                        <input type="checkbox"
                               id="character-damage-1-5"
                               ng-model="character.damage.1.5" />
                        <label for="character-damage-1-5" />
                    </div>
                    <div class="health-bubble" id="health-bubble-2-0">
                        <input type="checkbox"
                               id="character-damage-2-0"
                               ng-model="character.damage.2.0" />
                        <label for="character-damage-2-0" />
                    </div>
                    <div class="health-bubble" id="health-bubble-2-1">
                        <input type="checkbox"
                               id="character-damage-2-1"
                               ng-model="character.damage.2.1" />
                        <label for="character-damage-2-1" />
                    </div>
                    <div class="health-bubble" id="health-bubble-2-2">
                        <input type="checkbox"
                               id="character-damage-2-2"
                               ng-model="character.damage.2.2" />
                        <label for="character-damage-2-2" />
                    </div>
                    <div class="health-bubble" id="health-bubble-2-3">
                        <input type="checkbox"
                               id="character-damage-2-3"
                               ng-model="character.damage.2.3" />
                        <label for="character-damage-2-3" />
                    </div>
                    <div class="health-bubble" id="health-bubble-3-0">
                        <input type="checkbox"
                               id="character-damage-3-0"
                               ng-model="character.damage.3.0" />
                        <label for="character-damage-3-0" />
                    </div>
                    <div class="health-bubble" id="health-bubble-3-1">
                        <input type="checkbox"
                               id="character-damage-3-1"
                               ng-model="character.damage.3.1" />
                        <label for="character-damage-3-1" />
                    </div>
                    <div class="health-bubble" id="health-bubble-3-2">
                        <input type="checkbox"
                               id="character-damage-3-2"
                               ng-model="character.damage.3.2" />
                        <label for="character-damage-3-2" />
                    </div>
                    <div class="health-bubble" id="health-bubble-3-3">
                        <input type="checkbox"
                               id="character-damage-3-3"
                               ng-model="character.damage.3.3" />
                        <label for="character-damage-3-3" />
                    </div>
                    <div class="health-bubble" id="health-bubble-3-4">
                        <input type="checkbox"
                               id="character-damage-3-4"
                               ng-model="character.damage.3.4" />
                        <label for="character-damage-3-4" />
                    </div>
                    <div class="health-bubble" id="health-bubble-4-0">
                        <input type="checkbox"
                               id="character-damage-4-0"
                               ng-model="character.damage.4.0" />
                        <label for="character-damage-4-0" />
                    </div>
                    <div class="health-bubble" id="health-bubble-4-1">
                        <input type="checkbox"
                               id="character-damage-4-1"
                               ng-model="character.damage.4.1" />
                        <label for="character-damage-4-1" />
                    </div>
                    <div class="health-bubble" id="health-bubble-4-2">
                        <input type="checkbox"
                               id="character-damage-4-2"
                               ng-model="character.damage.4.2" />
                        <label for="character-damage-4-2" />
                    </div>
                    <div class="health-bubble" id="health-bubble-5-0">
                        <input type="checkbox"
                               id="character-damage-5-0"
                               ng-model="character.damage.5.0" />
                        <label for="character-damage-5-0" />
                    </div>
                    <div class="health-bubble" id="health-bubble-5-1">
                        <input type="checkbox"
                               id="character-damage-5-1"
                               ng-model="character.damage.5.1" />
                        <label for="character-damage-5-1" />
                    </div>
                    <div class="health-bubble" id="health-bubble-5-2">
                        <input type="checkbox"
                               id="character-damage-5-2"
                               ng-model="character.damage.5.2" />
                        <label for="character-damage-5-2" />
                    </div>
                    <div class="health-bubble" id="health-bubble-5-3">
                        <input type="checkbox"
                               id="character-damage-5-3"
                               ng-model="character.damage.5.3" />
                        <label for="character-damage-5-3" />
                    </div>
                    <div class="health-bubble" id="health-bubble-5-4">
                        <input type="checkbox"
                               id="character-damage-5-4"
                               ng-model="character.damage.5.4" />
                        <label for="character-damage-5-4" />
                    </div>
                    <div class="health-bubble" id="health-bubble-6-0">
                        <input type="checkbox"
                               id="character-damage-6-0"
                               ng-model="character.damage.6.0" />
                        <label for="character-damage-6-0" />
                    </div>
                    <div class="health-bubble" id="health-bubble-6-1">
                        <input type="checkbox"
                               id="character-damage-6-1"
                               ng-model="character.damage.6.1" />
                        <label for="character-damage-6-1" />
                    </div>
                    <div class="health-bubble" id="health-bubble-6-2">
                        <input type="checkbox"
                               id="character-damage-6-2"
                               ng-model="character.damage.6.2" />
                        <label for="character-damage-6-2" />
                    </div>
                </div>
            </div>
            <div class="right-col">
                <div class="benefits-abilities section">
                    <span class="title">Benefits &amp; Abilities</span>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Description/Notes</th>
                            <th>Page#</th>
                        </tr>
                        <tr ng-repeat="i in benefit_length">
                            <td><input type="text" id="character-benefits[i]-name"
                                       ng-model="character.benefits[i].name" /></td>
                            <td><input type="text" id="character-benefits[i]-desc"
                                       ng-model="character.benefits[i].desc" /></td>
                            <td><input type="number" id="character-benefits[i]-page"
                                       ng-model="character.benefits[i].page" /></td>
                        </tr>
                    </table>
                </div>
                <div class="feat-points section">
                    <span class="title">Feat Points</span>
                    <div>
                        <div class="current-feat-points">
                            <input type="number" id="character-feat_points"
                                   ng-model="character.feat_points"
                                   min="1" max="3" />
                            <label for="character-feat_points">Current<br />Feat<br />Points</label>
                        </div>
                        <div class="info">
                            <span class="name">Feat Points can be earned by:</span>
                            <ul class="value">
                                <li>Critical success on a skill roll</li>
                                <li>Destroy an enemy</li>
                            </ul>
                            <ul class="value">
                                <li>Given by the GM</li>
                            </ul>
                        </div>
                        <div class="info">
                            <span class="name">Feat Points can be spent to:</span>
                            <ul class="value">
                                <li><span class="text">Remove a continuous effect<br />&nbsp;</span></li>
                                <li><span class="text">Re-roll a failed roll</span></li>
                                <li><span class="text">Perform a relentless charge</span></li>
                                <li><span class="text">Perform a Run & Gun</span></li>
                                <li><span class="text">Perform a Two-Fister</span></li>
                                <li><span class="text">Perform a Heroic Dodge</span></li>
                            </ul>
                            <ul class="value">
                                <li><span class="text">Boost a non-combat skill roll</span></li>
                                <li><span class="text">Make a quick action</span></li>
                                <li><span class="text">Shake</span></li>
                                <li><span class="text">Sprint</span></li>
                                <li><span class="text">Parry</span></li>
                                <li><span class="text">Walk it Off</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="three-col">
            <div class="left-col">
                <div class="gear section">
                    <span class="title">Gear</span>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Benefit</th>
                        </tr>
                        <tr ng-repeat="i in gear_length">
                            <td><input type="text" id="character-gear[i]-name"
                                       ng-model="$parent.character.gear[i].name" /></td>
                            <td><input type="text" id="character-gear[i]-benefit"
                                       ng-model="$parent.character.gear[i].benefit" /></td>
                        </tr>
                    </table>
                </div>
                <div class="armor section">
                    <span class="title">Worn Armor</span>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Description/Notes</th>
                            <th>SPD</th>
                            <th>DEF</th>
                            <th>ARM</th>
                        </tr>
                        <tr>
                            <td><input id="character-armor[1]-name" ng-model="character.armor[1].name" type="text"></td>
                            <td><input id="character-armor[1]-desc" ng-model="character.armor[1].desc" type="text"></td>
                            <td><input id="character-armor[1]-spd" ng-model="character.armor[1].spd" maxlength="2" type="number"></td>
                            <td><input id="character-armor[1]-def" ng-model="character.armor[1].def" maxlength="2" type="number"></td>
                            <td><input id="character-armor[1]-arm" ng-model="character.armor[1].arm" maxlength="2" type="number"></td>
                            <td class="ng-binding"></td>
                        </tr>
                        <tr>
                            <td><input id="character-armor[2]-name" ng-model="character.armor[2].name" type="text"></td>
                            <td><input id="character-armor[2]-desc" ng-model="character.armor[2].desc" type="text"></td>
                            <td><input id="character-armor[2]-spd" ng-model="character.armor[2].spd" maxlength="2" type="number"></td>
                            <td><input id="character-armor[2]-def" ng-model="character.armor[2].def" maxlength="2" type="number"></td>
                            <td><input id="character-armor[2]-arm" ng-model="character.armor[2].arm" maxlength="2" type="number"></td>
                            <td class="ng-binding"></td>
                        </tr>
                        <tr>
                            <td><input id="character-armor[3]-name" ng-model="character.armor[3].name" type="text"></td>
                            <td><input id="character-armor[3]-desc" ng-model="character.armor[3].desc" type="text"></td>
                            <td><input id="character-armor[3]-spd" ng-model="character.armor[3].spd" maxlength="2" type="number"></td>
                            <td><input id="character-armor[3]-def" ng-model="character.armor[3].def" maxlength="2" type="number"></td>
                            <td><input id="character-armor[3]-arm" ng-model="character.armor[3].arm" maxlength="2" type="number"></td>
                            <td class="ng-binding"></td>
                        </tr>
                        <tr>
                            <td><input id="character-armor[4]-name" ng-model="character.armor[4].name" type="text"></td>
                            <td><input id="character-armor[4]-desc" ng-model="character.armor[4].desc" type="text"></td>
                            <td><input id="character-armor[4]-spd" ng-model="character.armor[4].spd" maxlength="2" type="number"></td>
                            <td><input id="character-armor[4]-def" ng-model="character.armor[4].def" maxlength="2" type="number"></td>
                            <td><input id="character-armor[4]-arm" ng-model="character.armor[4].arm" maxlength="2" type="number"></td>
                            <td class="ng-binding"></td>
                        </tr>
                    </table>
                </div>
                <div class="connections section">
                    <span class="title">Connections</span>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Description/Notes</th>
                            <th>Page#</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-connections[1]-name"
                                       ng-model="character.connections[1].name" /></td>
                            <td><input type="text" id="character-connections[1]-desc"
                                       ng-model="character.connections[1].desc" /></td>
                            <td><input type="number" id="character-connections[1]-page"
                                       ng-model="character.connections[1].page" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-connections[2]-name"
                                       ng-model="character.connections[2].name" /></td>
                            <td><input type="text" id="character-connections[2]-desc"
                                       ng-model="character.connections[2].desc" /></td>
                            <td><input type="number" id="character-connections[2]-page"
                                       ng-model="character.connections[2].page" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-connections[3]-name"
                                       ng-model="character.connections[3].name" /></td>
                            <td><input type="text" id="character-connections[3]-desc"
                                       ng-model="character.connections[3].desc" /></td>
                            <td><input type="number" id="character-connections[3]-page"
                                       ng-model="character.connections[3].page" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-connections[4]-name"
                                       ng-model="character.connections[4].name" /></td>
                            <td><input type="text" id="character-connections[4]-desc"
                                       ng-model="character.connections[4].desc" /></td>
                            <td><input type="number" id="character-connections[4]-page"
                                       ng-model="character.connections[4].page" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="middle-col">
                <div class="mechanika section">
                    <span class="title">Mechanika</span>
                    <table>
                        <tr>
                            <th>Housing</th>
                            <th>Runeplate</th>
                            <th>Capacitor</th>
                            <th>Notes</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-housing[0]-name"
                                       ng-model="character.mechanika.housing[0].name" /></td>
                            <td><input type="text" id="character-mechanika-housing[0]-runeplate"
                                       ng-model="character.mechanika.housing[0].runeplate" /></td>
                            <td><input type="text" id="character-mechanika-housing[0]-capacitor"
                                       ng-model="character.mechanika.housing[0].capacitor" /></td>
                            <td><input type="text" id="character-mechanika-housing[0]-notes"
                                       ng-model="character.mechanika.housing[0].notes" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-housing[1]-name"
                                       ng-model="character.mechanika.housing[1].name" /></td>
                            <td><input type="text" id="character-mechanika-housing[1]-runeplate"
                                       ng-model="character.mechanika.housing[1].runeplate" /></td>
                            <td><input type="text" id="character-mechanika-housing[1]-capacitor"
                                       ng-model="character.mechanika.housing[1].capacitor" /></td>
                            <td><input type="text" id="character-mechanika-housing[1]-notes"
                                       ng-model="character.mechanika.housing[1].notes" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-housing[2]-name"
                                       ng-model="character.mechanika.housing[2].name" /></td>
                            <td><input type="text" id="character-mechanika-housing[2]-runeplate"
                                       ng-model="character.mechanika.housing[2].runeplate" /></td>
                            <td><input type="text" id="character-mechanika-housing[2]-capacitor"
                                       ng-model="character.mechanika.housing[2].capacitor" /></td>
                            <td><input type="text" id="character-mechanika-housing[2]-notes"
                                       ng-model="character.mechanika.housing[2].notes" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-housing[3]-name"
                                       ng-model="character.mechanika.housing[3].name" /></td>
                            <td><input type="text" id="character-mechanika-housing[3]-runeplate"
                                       ng-model="character.mechanika.housing[3].runeplate" /></td>
                            <td><input type="text" id="character-mechanika-housing[3]-capacitor"
                                       ng-model="character.mechanika.housing[3].capacitor" /></td>
                            <td><input type="text" id="character-mechanika-housing[3]-notes"
                                       ng-model="character.mechanika.housing[3].notes" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-housing[4]-name"
                                       ng-model="character.mechanika.housing[4].name" /></td>
                            <td><input type="text" id="character-mechanika-housing[4]-runeplate"
                                       ng-model="character.mechanika.housing[4].runeplate" /></td>
                            <td><input type="text" id="character-mechanika-housing[4]-capacitor"
                                       ng-model="character.mechanika.housing[4].capacitor" /></td>
                            <td><input type="text" id="character-mechanika-housing[4]-notes"
                                       ng-model="character.mechanika.housing[4].notes" /></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>Rune Plate</th>
                            <th>Benefit</th>
                            <td rowspan="5">&nbsp;</td>
                            <th>Capacitors</th>
                            <th>Charges</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-runeplate[0]-name"
                                       ng-model="character.mechanika.runeplate[0].name" /></td>
                            <td><input type="text" id="character-mechanika-runeplate[0]-benefit"
                                       ng-model="character.mechanika.runeplate[0].benefit" /></td>
                            <td><input type="text" id="character-mechanika-capacitor[0]-name"
                                       ng-model="character.mechanika.capacitor[0].name" /></td>
                            <td><input type="text" id="character-mechanika-capacitor[0]-charges"
                                       ng-model="character.mechanika.capacitor[0].charges" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-runeplate[1]-name"
                                       ng-model="character.mechanika.runeplate[1].name" /></td>
                            <td><input type="text" id="character-mechanika-runeplate[1]-benefit"
                                       ng-model="character.mechanika.runeplate[1].benefit" /></td>
                            <td><input type="text" id="character-mechanika-capacitor[1]-name"
                                       ng-model="character.mechanika.capacitor[1].name" /></td>
                            <td><input type="text" id="character-mechanika-capacitor[1]-charges"
                                       ng-model="character.mechanika.capacitor[1].charges" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-runeplate[2]-name"
                                       ng-model="character.mechanika.runeplate[2].name" /></td>
                            <td><input type="text" id="character-mechanika-runeplate[2]-benefit"
                                       ng-model="character.mechanika.runeplate[2].benefit" /></td>
                            <td><input type="text" id="character-mechanika-capacitor[2]-name"
                                       ng-model="character.mechanika.capacitor[2].name" /></td>
                            <td><input type="text" id="character-mechanika-capacitor[2]-charges"
                                       ng-model="character.mechanika.capacitor[2].charges" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-mechanika-runeplate[3]-name"
                                       ng-model="character.mechanika.runeplate[3].name" /></td>
                            <td><input type="text" id="character-mechanika-runeplate[3]-benefit"
                                       ng-model="character.mechanika.runeplate[3].benefit" /></td>
                            <td><input type="text" id="character-mechanika-capacitor[3]-name"
                                       ng-model="character.mechanika.capacitor[3].name" /></td>
                            <td><input type="text" id="character-mechanika-capacitor[3]-charges"
                                       ng-model="character.mechanika.capacitor[3].charges" /></td>
                        </tr>
                    </table>
                </div>
                <div class="spells section">
                    <span class="title">Spells</span>
                    <div>
                        <label for="character-arcane_tradition">Arcane Tradition</label>
                        <input type="text" id="character-arcane_tradition"
                               ng-model="character.arcane_tradition" />
                    </div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>COST</th>
                            <th>RNG</th>
                            <th>AOE</th>
                            <th>POW</th>
                            <th>UP</th>
                            <th>OFF</th>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-spells[0]-name"
                                       ng-model="character.spells[0].name" /></td>
                            <td><input type="number" id="character-spells[0].cost"
                                       ng-model="character.spells[0].cost" /></td>
                            <td><input type="number" id="character-spells[0].rng"
                                       ng-model="character.spells[0].rng" /></td>
                            <td><input type="number" id="character-spells[0].aoe"
                                       ng-model="character.spells[0].aoe" /></td>
                            <td><input type="number" id="character-spells[0].pow"
                                       ng-model="character.spells[0].pow" /></td>
                            <td><input type="number" id="character-spells[0].up"
                                       ng-model="character.spells[0].up" /></td>
                            <td><input type="number" id="character-spells[0].off"
                                       ng-model="character.spells[0].off" /></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="text" id="character-spells[0]-notes"
                                       ng-model="character.spells[0].notes" class="spell-notes" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-spells[1]-name"
                                       ng-model="character.spells[1].name" /></td>
                            <td><input type="number" id="character-spells[1].cost"
                                       ng-model="character.spells[1].cost" /></td>
                            <td><input type="number" id="character-spells[1].rng"
                                       ng-model="character.spells[1].rng" /></td>
                            <td><input type="number" id="character-spells[1].aoe"
                                       ng-model="character.spells[1].aoe" /></td>
                            <td><input type="number" id="character-spells[1].pow"
                                       ng-model="character.spells[1].pow" /></td>
                            <td><input type="number" id="character-spells[1].up"
                                       ng-model="character.spells[1].up" /></td>
                            <td><input type="number" id="character-spells[1].off"
                                       ng-model="character.spells[1].off" /></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="text" id="character-spells[1]-notes"
                                       ng-model="character.spells[1].notes" class="spell-notes" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-spells[2]-name"
                                       ng-model="character.spells[2].name" /></td>
                            <td><input type="number" id="character-spells[2].cost"
                                       ng-model="character.spells[2].cost" /></td>
                            <td><input type="number" id="character-spells[2].rng"
                                       ng-model="character.spells[2].rng" /></td>
                            <td><input type="number" id="character-spells[2].aoe"
                                       ng-model="character.spells[2].aoe" /></td>
                            <td><input type="number" id="character-spells[2].pow"
                                       ng-model="character.spells[2].pow" /></td>
                            <td><input type="number" id="character-spells[2].up"
                                       ng-model="character.spells[2].up" /></td>
                            <td><input type="number" id="character-spells[2].off"
                                       ng-model="character.spells[2].off" /></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="text" id="character-spells[2]-notes"
                                       ng-model="character.spells[2].notes" class="spell-notes" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-spells[3]-name"
                                       ng-model="character.spells[3].name" /></td>
                            <td><input type="number" id="character-spells[3].cost"
                                       ng-model="character.spells[3].cost" /></td>
                            <td><input type="number" id="character-spells[3].rng"
                                       ng-model="character.spells[3].rng" /></td>
                            <td><input type="number" id="character-spells[3].aoe"
                                       ng-model="character.spells[3].aoe" /></td>
                            <td><input type="number" id="character-spells[3].pow"
                                       ng-model="character.spells[3].pow" /></td>
                            <td><input type="number" id="character-spells[3].up"
                                       ng-model="character.spells[3].up" /></td>
                            <td><input type="number" id="character-spells[3].off"
                                       ng-model="character.spells[3].off" /></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="text" id="character-spells[3]-notes"
                                       ng-model="character.spells[3].notes" class="spell-notes" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-spells[4]-name"
                                       ng-model="character.spells[4].name" /></td>
                            <td><input type="number" id="character-spells[4].cost"
                                       ng-model="character.spells[4].cost" /></td>
                            <td><input type="number" id="character-spells[4].rng"
                                       ng-model="character.spells[4].rng" /></td>
                            <td><input type="number" id="character-spells[4].aoe"
                                       ng-model="character.spells[4].aoe" /></td>
                            <td><input type="number" id="character-spells[4].pow"
                                       ng-model="character.spells[4].pow" /></td>
                            <td><input type="number" id="character-spells[4].up"
                                       ng-model="character.spells[4].up" /></td>
                            <td><input type="number" id="character-spells[4].off"
                                       ng-model="character.spells[4].off" /></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="text" id="character-spells[4]-notes"
                                       ng-model="character.spells[4].notes" class="spell-notes" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-spells[5]-name"
                                       ng-model="character.spells[5].name" /></td>
                            <td><input type="number" id="character-spells[5].cost"
                                       ng-model="character.spells[5].cost" /></td>
                            <td><input type="number" id="character-spells[5].rng"
                                       ng-model="character.spells[5].rng" /></td>
                            <td><input type="number" id="character-spells[5].aoe"
                                       ng-model="character.spells[5].aoe" /></td>
                            <td><input type="number" id="character-spells[5].pow"
                                       ng-model="character.spells[5].pow" /></td>
                            <td><input type="number" id="character-spells[5].up"
                                       ng-model="character.spells[5].up" /></td>
                            <td><input type="number" id="character-spells[5].off"
                                       ng-model="character.spells[5].off" /></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="text" id="character-spells[5]-notes"
                                       ng-model="character.spells[5].notes" class="spell-notes" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-spells[6]-name"
                                       ng-model="character.spells[6].name" /></td>
                            <td><input type="number" id="character-spells[6].cost"
                                       ng-model="character.spells[6].cost" /></td>
                            <td><input type="number" id="character-spells[6].rng"
                                       ng-model="character.spells[6].rng" /></td>
                            <td><input type="number" id="character-spells[6].aoe"
                                       ng-model="character.spells[6].aoe" /></td>
                            <td><input type="number" id="character-spells[6].pow"
                                       ng-model="character.spells[6].pow" /></td>
                            <td><input type="number" id="character-spells[6].up"
                                       ng-model="character.spells[6].up" /></td>
                            <td><input type="number" id="character-spells[6].off"
                                       ng-model="character.spells[6].off" /></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="text" id="character-spells[6]-notes"
                                       ng-model="character.spells[6].notes" class="spell-notes" />
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" id="character-spells[7]-name"
                                       ng-model="character.spells[7].name" /></td>
                            <td><input type="number" id="character-spells[7].cost"
                                       ng-model="character.spells[7].cost" /></td>
                            <td><input type="number" id="character-spells[7].rng"
                                       ng-model="character.spells[7].rng" /></td>
                            <td><input type="number" id="character-spells[7].aoe"
                                       ng-model="character.spells[7].aoe" /></td>
                            <td><input type="number" id="character-spells[7].pow"
                                       ng-model="character.spells[7].pow" /></td>
                            <td><input type="number" id="character-spells[7].up"
                                       ng-model="character.spells[7].up" /></td>
                            <td><input type="number" id="character-spells[7].off"
                                       ng-model="character.spells[7].off" /></td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <input type="text" id="character-spells[7]-notes"
                                       ng-model="character.spells[7].notes" class="spell-notes" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="right-col">
                <div class="notes section">
                    <span class="title">Notes</span>
                    <textarea id="character-notes" ng-model="character.notes"></textarea>
                </div>
                <div class="section">
                    <span class="title">Permanent Injuries</span>
                    <textarea id="character-injuries" ng-model="character.injuries"></textarea>
                </div>
                <div class="section">
                    <span class="title">Spoken Languages</span>
                    <textarea id="character-languages" ng-model="character.languages"></textarea>
                </div>
                <div class="section">
                    <span class="title">Religious Beliefs</span>
                    <textarea id="character-beliefs" ng-model="character.beliefs"></textarea>
                </div>
                <div class="gold section">
                    <span class="title">Gold</span>
                    <input type="number" id="character-gold"
                           ng-model="character.gold"
                           pattern="^[1-9][0-9]+$"
                            maxlength="5"/>
                </div>
                <img src="{Config>GetValue(website,image_url)}logo.png" width="175px"
                     ng-click="saveCharacter()" />
            </div>
        </div>
    </form>
</div>