#formCharacter select {
    border: none;
    border-bottom: 1px solid #000;
    display: block;
    width: inherit;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.4);
} 
#character-select {
    position: absolute;
    bottom: 15px;
    right: 10px;
}
#save-hint {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 12px;
    font-style: italic;
}
.characterForm input[type=text],
.characterForm input[type=number] {
    display: inline-block;
    width: inherit;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
}
.character input[type=text],
.info-ranged input[type=text],
.info-melee input[type=text],
#character-weapons-ranged1-ammo,
#character-weapons-ranged2-ammo {
    border-bottom: 1px solid #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.big-stat input,
.small-stat input {
    border: none;
}
.character {
    width: 1175px;
    display: inline-block;
    position: relative;
}
.character > div {
    padding-left: 5px;
}
.character .level {
    padding: 10px 5px 5px 5px;
    width: 150px;
    position: absolute;
    top: 10px;
    right: 5px;
    background: #FFF;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
}
.character label {
    margin: 5px 10px;
    display: block;
}
.title {
    background-color: #000;
    color: #eee;
    padding: 0 10px 2px 10px;
}
.character .title,
.portrait .title {
    display: block;
    border-radius: 0 7px 0 0;
    margin-right: -5px;
}
span.input-disabled {
    border-bottom: 1px solid #000 !important;
    display: block;
    padding: 3px;
}
div.character_name {
    width: 250px;
    display: inline-block;
}
div.character_sex {
    width: 75px;
    display: inline-block;
}
div.character_characteristics {
    width: 565px;
    display: inline-block;
}
div.character_weight {
    width: 100px;
    display: inline-block;
}
div.character_archetype {
    width: 125px;
    display: inline-block;
}
div.character_race {
    width: 125px;
    display: inline-block;
}
div.character_careers {
    width: 275px;
    display: inline-block;
}
div.character_faith {
    width: 125px;
    display: inline-block;
}
div.character_player {
    width: 230px;
    display: inline-block;
}
div.character_height {
    width: 100px;
    display: inline-block;
}
.four-col {
    position: relative;
    height: 925px;
}
.four-col > .left-col {
    display: inline-block;
    width: 230px;
    position: absolute;
    top: 0;
}
.four-col > .left-middle-col {
    display: inline-block;
    width: 405px;
    position: absolute;
    top: 0;
    left: 228px;
}
.four-col > .right-middle-col {
    display: inline-block;
    width: 225px; 
    position: absolute;
    top: 0;
    left: 630px;
}
.four-col > .right-col {
    display: inline-block;
    width: 225px;
    position: absolute;
    top: 0;
    left: 1000px;
}
.section {
    border: 2px solid #000;
    border-radius: 0 10px 10px 10px;
    padding: 0 5px 5px 0;
    margin: 2px 5px 3px 5px;
    background-color: rgba(255, 255, 255, 0.25);
}
.portrait {
    height: 282px;
    margin-bottom: 5px;
}
.portrait img {
    width: 218px;
    height: 268px;
    border-radius: 0 0 7px 7px;
}
.stats label {
    display: block;
    text-align: center;
}
.stats input,
.level input,
.calc input {
    text-align: center;
}
.stats .two-col {
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-right: -5px;
    border-bottom: 1px solid #000;
}
.stats .left-col {
    display: inline-block;
    width: 110px;
}
.left-col > .big-stat {
    display: inline-block;
    margin: 5px 0 5px 5px;
    width: 50px;
    height: 50px;
    padding: 10px 5px;
    border: 1px solid #000;
    border-radius: 10px;
}
.left-col > .big-stat input {
    height: 30px;
}
.left-col > .small-stat {
    display: inline-block;
    width: 30px;
    height: 35px;
    padding: 5px 3px;
    border: 1px solid #000;
    border-radius: 5px;
}
.left-col > .small-stat label {
    font-size: 0.7em;
}
.stats .right-col {
    display: inline-block;
    width: 95px;
}
.right-col > .big-stat {
    display: inline-block;
    margin: 5px 0 5px 5px;
    width: 40px;
    height: 40px;
    padding: 10px 5px;
    border: 1px solid #000;
    border-radius: 8px;
}
.right-col > .big-stat label {
    font-size: 0.8em;
}
.right-col > .big-stat input {
    height: 25px;
}
.right-col > .small-stat {
    display: inline-block;
    width: 25px;
    height: 30px;
    padding: 5px 3px;
    border: 1px solid #000;
    border-radius: 5px;
}
.right-col > .small-stat label {
    font-size: 0.5em;
}
.right-col > .small-stat input {
    height: 15px;
    font-size: 0.8em;
}
#willpower {
    width: 100px;
    height: 75px;
    margin: 13px auto 5px auto;
    border: 1px solid #000;
    border-radius: 15px;
}
#willpower span {
    display: block;
    margin: 5px;
    text-align: center;
    height: 25px;
}
#willpower label {
    font-size: 0.8em;
}
#willpower label span {
    font-size: 0.8em;
}
.weapon-ranged {
    background-color: rgba(110, 200, 135, 0.2);
}
.weapon-melee {
    background-color: rgba(255, 130, 120, 0.2);
}
.weapon-addnl {
    background-color: rgba(125, 130, 255, 0.2);
}
@media print
{
    .weapon-addnl,
    .weapon-melee,
    .weapon-ranged {
        background: none;
    }
}
.weapon-ranged .info {
    display: inline-block;
    width: 150px;
}
.weapon-addnl .info {
    margin: 5px 5px 0 10px;
}
.weapon-melee .info,
.weapon-addnl .info {
    display: inline-block;
    width: 190px;
}
.weapon-melee .info label,
.weapon-addnl .info label,
.weapon-ranged .info label{
    margin: 5px 10px;
}
.weapon-ranged .stats,
.weapon-addnl .stats {
    width: 155px;
    display: inline-block;
    vertical-align: top;
}

.weapon-melee .stats {
    width: 115px;
    display: inline-block;
    vertical-align: top;
}
.weapon-ranged .stats div,
.weapon-melee .stats div,
.weapon-addnl .stats div {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px 0 5px 5px;
    width: 40px;
    height: 40px;
}
span.calc {
    display:inline-block;
    vertical-align: middle;
    margin: 5px 0 5px 5px;
    font-size: 0.8em;
    height:40px;
}
div.calc label {
    display: block;
    font-size: 0.5em;
    text-align: center;
}
div.calc {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    width: 50px;
    height: 45px;
    padding-top: 5px
}
.calc-stat > div {
    text-align: right;
    padding-right: 10px;
    margin-bottom: -10px;
}
.skills {
    width: 355px;
    height: 580px;
}
.skills, .benefits-abilities {
    font-size: 0.9em;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.skills table {
    margin-top: -17px;
}
.skills tr > td {
    padding: 3px 4px;
    width: 60px;
    text-align: center;
}
.skills tr > td:first-child {
    width: 150px;
    text-align: left;
}
.skills tr > td:last-child {
    width: 30px;
}
.skills input[type=number] {
    width: 25px;
    margin: 2px;
    padding: 2px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}
.skills input[type=text] {
    width: 165px;
    margin: 2px;
    padding: 2px;
    text-align: left;
    border: none;
}
.damage {
    width: 355px;
    height: 300px;
    position: relative;
}
.damage .power {
    display: none;
}
.damage .info {
    position: absolute;
    width: 150px;
    top: 5px;
    right: 5px;
}
.damage .info .name {
    font-size: 0.8em;
    display: block;
    text-decoration: underline;
    text-align: right;
    font-weight: 500;
    margin-top: 10px;
}
.damage .info .value {
    display: block;
    text-align: right;
    font-size: 0.7em;
}
.health-bubble input[type=checkbox] {
    display: none;
}
.health-bubble input[type=checkbox] + label {
    display:inline-block;
    width:17px;
    height:18px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
#health-bubble-1-0 {
    display: inline-block;
    position: absolute;
    top: 102px;
    left: 66px;
}
#health-bubble-1-1 {
    display: inline-block;
    position: absolute;
    top: 128px;
    left: 65px;
}
#health-bubble-1-2 {
    display: inline-block;
    position: absolute;
    top: 151px;
    left: 73px;
}
#health-bubble-1-3 {
    display: inline-block;
    position: absolute;
    top: 168px;
    left: 88px;
}
#health-bubble-1-4 {
    display: inline-block;
    position: absolute;
    top: 169px;
    left: 111px;
}
#health-bubble-1-5 {
    display: inline-block;
    position: absolute;
    top: 167px;
    left: 129px;
}
#health-bubble-2-0 {
    display: inline-block;
    position: absolute;
    top: 94px;
    left: 91px;
}
#health-bubble-2-1 {
    display: inline-block;
    position: absolute;
    top: 115px;
    left: 85px;
}
#health-bubble-2-2 {
    display: inline-block;
    position: absolute;
    top: 136px;
    left: 89px;
}
#health-bubble-2-3 {
    display: inline-block;
    position: absolute;
    top: 154px;
    left: 99px;
}
#health-bubble-3-0 {
    display: inline-block;
    position: absolute;
    top: 101px;
    left: 194px;
}
#health-bubble-3-1 {
    display: inline-block;
    position: absolute;
    top: 96px;
    left: 169px;
}
#health-bubble-3-2 {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 146px;
}
#health-bubble-3-3 {
    display: inline-block;
    position: absolute;
    top: 119px;
    left: 134px;
}
#health-bubble-3-4 {
    display: inline-block;
    position: absolute;
    top: 136px;
    left: 126px;
}
#health-bubble-4-0 {
    display: inline-block;
    position: absolute;
    top: 125px;
    left: 194px;
}
#health-bubble-4-1 {
    display: inline-block;
    position: absolute;
    top: 117px;
    left: 174px;
}
#health-bubble-4-2 {
    display: inline-block;
    position: absolute;
    top: 117px;
    left: 154px;
}
#health-bubble-5-0 {
    display: inline-block;
    position: absolute;
    top: 224px;
    left: 150px;
}
#health-bubble-5-1 {
    display: inline-block;
    position: absolute;
    top: 204px;
    left: 165px;
}
#health-bubble-5-2 {
    display: inline-block;
    position: absolute;
    top: 182px;
    left: 171px;
}
#health-bubble-5-3 {
    display: inline-block;
    position: absolute;
    top: 163px;
    left: 160px;
}
#health-bubble-5-4 {
    display: inline-block;
    position: absolute;
    top: 148px;
    left: 148px;
}
#health-bubble-6-0 {
    display: inline-block;
    position: absolute;
    top: 215px;
    left: 129px;
}
#health-bubble-6-1 {
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 145px;
}
#health-bubble-6-2 {
    display: inline-block;
    position: absolute;
    top: 182px;
    left: 153px;
}

.benefits-abilities {    
    width: 370px;
}
.benefits-abilities table {    
    border-spacing: 0;
    border-collapse: collapse;
}
.benefits-abilities tr {
    height: 31px;
}
@media  print {
    .benefits-abilities tr {
        height: 30px;
    }
}
.benefits-abilities tr > td {
    padding: 2px 4px;
    width: 200px;
    text-align: left;
}
.benefits-abilities tr > td:first-child {
    width: 100px;
}
.benefits-abilities tr > td:last-child {
    width: 35px;
}
.benefits-abilities input[type=number],
.armor input[type=number],
.connections input[type=number] {
    width: 25px;
    margin: 2px;
    padding: 2px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}
.benefits-abilities input[type=text] {
    padding: 2px;
    text-align: left;
    border: none;
}
.feat-points {
    width: 370px;
    height: 210px;
    position: relative;
}
.current-feat-points {
    display: inline-block;
    width: 90px;
    padding: 5px 10px 10px 10px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 7px;
    position: absolute;
    top: 25px;
    left: 5px;
}
.current-feat-points input {
    border: none;
    font-size: 35px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    margin: 5px 0 5px 0;
}
.current-feat-points label {
    font-size: 1.4em;
    display: block;
    text-align: center;
}
.feat-points .info {
    display: inline-block;
    width: 240px;
    position: absolute;
    top: 30px;
    right: 5px;
}
.feat-points .info:last-child {
    position: absolute;
    top: 80px;
}
.feat-points .info .name {
    display: inline-block;
    font-size: 0.8em;
    width: 240px;
    border-bottom: 1px solid #000;
}
.feat-points .info ul {
    display: inline-block;
    width: 125px;
    font-size: 0.65em;
    padding-left: 20px;
    margin-top: 0;
}
.feat-points .info ul:last-child {
    width: 75px;
    padding-left: 10px;
}
.feat-points .info ul .text {
    margin-left: -8px;
}
.three-col {
    position: relative;
    height: 1080px;
}
.three-col > div {
    display: inline-block;
    top: 10px;
    vertical-align: top;
    position: absolute;
    height: inherit;
}
.three-col .left-col {
    left: 0;
    width: 425px;
}
.three-col .middle-col {
    left: 430px;
    width: 505px;
}
.three-col .right-col {
    left: 940px;
    width: 450px;
}
.three-col tr {
    height: 31px;
}
.armor th {
    font-size: 0.8em;
}
.armor tr > td:nth-child(1) {
    width: 130px;
}
.armor tr > td:nth-child(2) {
    width: 165px
}
.gear tr > td:nth-child(1) {
    width: 175px;
}
.gear tr > td:nth-child(2) {
    width: 230px;
}
.connections tr > td:nth-child(2) {
    width: 210px;
}
.mechanika tr {
    height: 34px;
}
.mechanika table:nth-child(2) td {
    width: 120px;
}
.mechanika table:nth-child(3) td {
    width: 115px;
}
.spells tr {
    height: 35px;
}
.spells tr > td:nth-child(1) {
    width: 175px;
}
.spells td:not(:nth-child(1)) {
    width: 48px;
    border-left: 2px solid black;
}
.spells tr:nth-child(2),
.spells tr:nth-child(3),
.spells tr:nth-child(6),
.spells tr:nth-child(7),
.spells tr:nth-child(10),
.spells tr:nth-child(11),
.spells tr:nth-child(14),
.spells tr:nth-child(15),
table tr:nth-child(even) {
    background-color: rgba(200,175,170,0.2);
}
.spells tr:nth-child(4),
.spells tr:nth-child(5),
.spells tr:nth-child(8),
.spells tr:nth-child(9),
.spells tr:nth-child(12),
.spells tr:nth-child(13),
.spells tr:nth-child(16),
.spells tr:nth-child(17),
table tr:nth-child(odd) {
    background-color: rgba(255,255,250,0.3);
}
.spells input.spell-notes {
    width: 100%;
}
.right-col textarea {
    display: block;
    width: 432px;
    border: none;
    background: none;
    font-size: 0.8em;
    height: 167px;
}
.notes textarea
{
    border: none;
    display: block;
    font-family: 'Tahoma',sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    padding: 0;
    resize: none;
    height: 300px;
    width: 375px;

    background-image: -moz-linear-gradient(top , transparent, transparent 17px,#555 0);
    background-image: -webkit-linear-gradient(top , transparent, transparent 17px,#555 0);

    -webkit-background-size:  100% 18px;
    background-size: 100% 18px;
}
.gold {
    display: inline-block;
    width: 200px;
    margin-right: 50px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.right-col img {
    position: absolute;
    bottom: 0;
    right: 5px;
}
.gold input {
    border: none;
    font-size: 50px;
    font-weight: bold;
    height: 80px;
    text-align: center;
    margin: 0;
    width: inherit;
}