main, header, footer
{
    width: 1400px;
    padding: 5px;
    margin: 10px auto;
}
header
{
    position: relative;
}
footer
{
    text-align: center;
    font-size: 0.8em;
}
.clear
{
    clear: both;
    height: 0;
}
#results {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
}
#results.error {
    background-color: #FFFB08;
    color: #660000;
    border: 1px solid #660000;
}
#results.success {
    background-color: #FEFFE6;
    color: #00E604;
    border: 1px solid #000;
}
#debug {
    position: fixed;
    top: 5px;
    left: 5px;
    border: 2px solid #F00;
}
@media print
{
    footer,
    header
    {
        display: none;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
    }
    input,
    select {
        background: none;
    }
}