.userForm {
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
    background-color: #888;
}
.userForm input[type=text],
.userForm input[type=password],
.userForm input[type=email] {
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #EEE;
}
#frmRegister input[type=text],
#frmRegister input[type=password],
.userForm input[type=email] {
    width: 200px;
    margin-top: 10px;
}
.userForm label {
    width: 150px;
    display: inline-block;
}
.user-action {
    border: none;
    background: none;
    cursor: pointer;
    letter-spacing: 1px;
}
.user-action:hover {
    color: blue;
}

.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: fixed;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;

    border: 1px solid #789AFF;
    border-radius: 10px;
}
.ng-modal-dialog-content {
    padding: 15px 10px 5px 10px;
    text-align: left;
}